<template lang="pug">
  v-container(fluid)
    v-layout(row wrap)
      v-flex(xs12)
        h2.display-1 Listado de documentos emitidos
      v-flex(xs12)
        v-data-table(
          :items="items"
          :headers="headers"
        )
          template(slot="items" slot-scope="props")
            td {{props.item.voucherType}}
            td {{props.item.serieNumber}}-{{props.item.documentNumber}}
            td {{props.item.dateIssue}}
            td {{props.item.documentIdentity}}
            td.text-xs-left {{props.item.customerName}}
            td {{props.item.coin == 'P' ? 'PEN' : 'USD'}}
            td.text-xs-right {{props.item.taxedAmount}}
            td.text-xs-right {{props.item.exoneratedAmount}}
            td.text-xs-right {{props.item.taxAmount}}
            td.text-xs-right {{props.item.totalAmount}}

</template>
<script>
  import { mapActions, mapState } from 'vuex'
  import { DOCUMENTS_REQUEST } from '@/store/actionTypes'
  import moment from 'moment'
  export default {
    data () {
      return {
        search: {
          page: 1,
          from: moment().format('YYYY-M-DD'),
          to: moment().format('YYYY-MM-DD'),
          voucherType: '',
          serieNumber: '',
          customerName: ''
        },
        headers: [
          {
            text: 'Tipo',
            value: 'voucherType'
          },
          {
            text: 'N° Doc',
            value: 'document'
          },
          {
            text: 'Fecha',
            value: 'dateIssue'
          },
          {
            text: 'N° Doc. Ident.',
            value: 'documentIdentity'
          },
          {
            text: 'Cliente',
            value: 'customerName',
            align: 'left'

          },
          {
            text: 'M',
            value: 'coin'
          },
          {
            text: 'Mto. Grav.',
            align: 'right',
            value: 'taxedAmount'
          },
          {
            text: 'Mto. Exon.',
            align: 'right',
            value: 'taxedAmount'
          },
          {
            text: 'Mto. IGV',
            align: 'right',
            value: 'taxedAmount'
          },
          {
            text: 'Total',
            align: 'right',
            value: 'taxedAmount'
          }
        ]
      }
    },

    computed: {
      ...mapState('documents', {
        items: 'items'
      })
    },

    created () {
      this.loadDocuments(this.search)
    },

    methods: {
      ...mapActions('documents', {
        loadDocuments: DOCUMENTS_REQUEST
      })
    }
  }
</script>
