<template lang="pug">
 div
  v-navigation-drawer(
    v-model="drawer"
    fixed
    clipped
    app
  )
    v-list(dense)
      v-list-tile(@click="$router.push('/dashboard/documents')")
        v-list-tile-action
          v-icon mdi-file-document
        v-list-tile-content
          v-list-tile-title Documento Emitidos
  v-toolbar(
    color="primary"
    app
    clipped-left
    fixed
  )
    v-toolbar-side-icon(@click.native="drawer = !drawer" color="primary")
  v-content
    router-view
  v-footer(fixed app)
    v-spacer
    v-icon mdi-copyright
    h5.pr-2.body-1 {{ new Date().getFullYear() }} - Monocix
</template>
<script>
  export default {
    data () {
      return {
        drawer: true
      }
    },

    created () {

    }
  }
</script>
