<template lang="pug">
    v-container(fluid grid-list-xl)
      v-layout(row wrap)
        v-flex(v-for="(counter, index) in counters" :key="index" xs6)
          document-counter-item(
            :title="counter.voucherName"
            :quantity="counter.quantity"
            :color="index % 4 == 0 || index == 0 ? '' : ''"
            :color-text="index % 4 == 0 || index == 0 ? 'green--text' : 'purple--text'"
          )
</template>
<script>
  import DocumentCounterItem from '@/components/DocumentCounterItem'
  import { mapActions, mapState } from 'vuex'
  import { COUNTER_DOCUMENTS_REQUEST } from '@/store/actionTypes'
  import jwt from '@/common/jwt'
  export default {
    components: {
      DocumentCounterItem
    },

    data () {
      return {
      }
    },

    computed: {
      ...mapState('documents', {
        'counters': 'counters'
      })
    },

    created () {
      this.loadCounters().catch(() => {
        jwt.destroyToken()
        this.$router.push('/auth/login')
      })
    },

    methods: {
      ...mapActions('documents', {
        'loadCounters': COUNTER_DOCUMENTS_REQUEST
      })
    }
  }
</script>
