<template lang="pug">
  v-content
    v-container(fluid fill-height)
      v-layout(align-center justify-center)
        v-flex(xs12 sm8 md4)
          v-card.elevation-20
            v-toolbar(dark color="primary")
              v-toolbar-title CeslySoft
            v-card-text
              h3.headline.text-sm-center.mb-1.mt-1 {{isNextFormVisible ? 'Bienvenido' : ' Sistema Prueba'}}
              h4.subheading.mb-4 {{isNextFormVisible ? username : 'Iniciar sesión'}}
              v-form
                v-container()
                  v-layout(wrap)
                    v-flex(sm12)
                      div(v-show="!isNextFormVisible")
                        v-text-field(
                        v-validate="'required'"
                        v-model="username"
                        :error-messages="errors.collect('username')"
                        data-vv-name="username"
                        label="Nombre de usuario."
                        autofocus
                        prepend-inner-icon="mdi-account"
                        )
                      div(v-show="isNextFormVisible")
                        v-text-field(
                        v-model="password"
                        :error-messages="passwordErrors"
                        ref="password"
                        label="Ingrese tu contraseña."
                        type="password"
                        prepend-inner-icon="mdi-key"
                        @input="passwordErrors = []"
                        )
                    v-flex(
                    align-start
                    sm10
                    )
                      v-btn(
                      flat
                      block
                      color="primary"
                      small
                      )
                        |¿H
                        span.text-lowercase as olvidado tu nombre de usuario?
                    v-flex(sm2)
            v-card-actions
              v-btn(
              v-if="isNextFormVisible"
              color="secondary"
              flat
              @click="onBackForm"
              ).ml-4.mb-4.text-capitalize
                v-icon mdi-chevron-left
                |Volver atrás
              v-spacer
              v-btn(
              v-if="!isNextFormVisible"
              color="primary"
              @click="onNextForm"
              ).mr-4.mb-4.text-capitalize
                |Siguiente
                v-icon mdi-chevron-right
              v-btn(
              v-if="isNextFormVisible"
              color="primary"
              @click="onLogin"
              ).mr-4.mb-4.text-capitalize
                v-icon mdi-login
                |Ingresar
    v-footer( fixed)
      v-spacer
      v-icon mdi-copyright
      h5.pr-2.body-1 {{ new Date().getFullYear() }} - Monocix

</template>
<script>
import { mapActions } from 'vuex'
import { LOGIN_REQUEST } from '@/store/actionTypes'
import { mapFields } from 'vuex-map-fields'

export default {
  data () {
    return {
      isNextFormVisible: false,
      passwordErrors: []
    }
  },

  computed: {
    ...mapFields('auth', {
        ruc: 'credentials.ruc',
        username: 'credentials.username',
        password: 'credentials.password'
    })
  },

  methods: {
    ...mapActions('auth', {
      'login': LOGIN_REQUEST
    }),

    onLogin () {
      this.passwordErrors = []
      if (this.password === '') {
        this.$refs.password.focus()
        this.passwordErrors.push('Por favor ingrese su contraseña.')
        return
      }
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.login().then(() => {
            this.$router.push('/dashboard')
          }).catch(err => {
            this.passwordErrors.push(err.response.data.error)
          })
        }
      })
    },
    /**
     * TODO:
     * - Falta agregar  focus en campo password cuando cambia de vista
     * - Falta validar que usuario exista
     */
    onNextForm () {
      this.passwordErrors = []
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.$refs.password.focus()
          this.isNextFormVisible = true
        }
      })
    },

    onBackForm () {
      this.isNextFormVisible = false
    }
  },

  created () {
    this.ruc = document.querySelector('meta[name="ruc"]').content
  }
}
</script>
