<template lang="pug">
  v-card(flat href="#" :color="color").elevation-10.my-3
    v-layout(row)
      v-flex(xs5)
        v-icon(:class="colorText").display-4 mdi-file-document-box-multiple
      v-flex(xs7)
        v-card-title
          div(:class="colorText")
            h3.display-2 {{quantity}}
        v-divider
        v-card-actions
            p(:class="colorText").title {{title}}

</template>
<script>
  export default {
    props: {
      title: {
        type: String,
        required: true
      },
      quantity: {
        type: Number,
        required: true
      },
      color: {
        type: String
      },
      colorText: {
        type: String
      }
    }
  }
</script>
